@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --qr-font: "Outfit", sans-serif;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--qr-font);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray);
}

.main {
    max-width: 375px;
    background-color: var(--white);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 30px -18px var(--grayish-blue)
}

.container {
    max-width: 290px;
}

.qr-code {
    width: 100%;
    border-radius: .7rem;
}

h1 {
    padding: 0 30px 0 30px;
    font-size: 20px;
    text-align: center;
    color: var(--dark-blue)
}

p {
    padding: 0 15px 0 15px;
    margin: 16px 0 25px 0;
    text-align: center;
    font-size: 15px;
    color: var(--grayish-blue);
}
